In [ ]:
name = 'Python'
print(name)

In [ ]:
a=100
b=45.6
c="Dhanwika"
d=-3j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(True))

In [ ]:
x = ('apple', 'banana', 'cherry')
y = id(x)
print(y)

In [ ]:
str1 = "geek"
print(id(str1))

In [ ]:
# print first 5 integers
# using python range() function
for i in range(5):
    print(i, end=" ")
print()

In [ ]:
# printing a natural
# number from 5 to 20
for i in range(5, 20):
    print(i, end=" ")

In [ ]:
for i in range(0, 10, 2):
    print(i, end=" ")
print()

In [ ]:
dec = 344
print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

In [ ]:
n = 4
binary = format(n, 'b')
print(binary)  
binary = '100'
decimal = int(binary, 2)
print(decimal)

In [ ]:
x = 10
  
print("x is of type:",type(x))
  
y = 10.6
print("y is of type:",type(y))
  
z = x + y
  
print(z)
print("z is of type:",type(z))

In [ ]:
# Convert ASCII value to characters
a = chr(90)
b = chr(87)

print(a)
print(b)

In [ ]:
#ARITHMETIC OPERATORS EXAMPLES
a = 7
b = 2

# addition
print ('Sum: ', a + b)  

# subtraction
print ('Subtraction: ', a - b)   

# multiplication
print ('Multiplication: ', a * b)  

# division
print ('Division: ', a / b) 

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

In [ ]:
#ASSIGNMENT OPERATORS
# assign 10 to a
a = 10

# assign 5 to b
b = 5 

# assign the sum of a and b to a
a %= b      # a = a + b

print(a)

In [ ]:
#RELATIONAL OPERATORS
a = 5

b = 2

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

In [ ]:
#LOGICAL OPERATORS
# logical AND
print(True and True)     # True
print(True and False)    # False

# logical OR
print(True or False)     # True

# logical NOT
print(not True)          # False

In [ ]:
#IDENTITY OPERATORS
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)  # prints False

print(x2 is y2)  # prints True

print(x3 is y3)  # prints False

In [ ]:
#MEMBERSHIP OPERATORS
x = 'Hello world'
y = {1:'a', 2:'b'}

# check if 'H' is present in x string
print('H' in x)  # prints True

# check if 'hello' is present in x string
print('hello' not in x)  # prints True

# check if '1' key is present in y
print(1 in y)  # prints True

# check if 'a' key is present in y
print('a' in y)  # prints False

In [ ]:
#code for disabling the softspace feature
print('A','B','C', sep='')

#for formatting a date
print('19','11','2020', sep='/')

#another example
print('abc','gmail', sep='#')

In [ ]:
print('HELLO',end="*****")

In [ ]:
print('apple','mango','cherry',sep=",")

In [ ]:
name=input("Enter your name:")
print(name)

In [ ]:
string = "hello world"
print(string)
print(string.replace("hello","hi"))

In [ ]:
string = "geeks for geeks \ngeeks for geeks"
print(string)
print(string.replace("geeks", "GeeksforGeeks"))

In [ ]:
#CONDITIONAL STATEMENTS
a=29
b=32
if(a<b):
    print("b is greater than a")

In [ ]:
a=29
b=32
if(a>b):
    print("a is greater than b")
else:
    print("b is greater than a")

In [ ]:
a=29
b=32
if(a>b):
    print("a is greater than b")
elif(a==b):
    print("a and b are equal")
else:
    print("b is greater thsn a")

In [ ]:
languages = ['Swift', 'Python', 'Go', 'JavaScript']

# access items of a list using for loop
for language in languages:
    print(language,end=" ")

In [ ]:
for i in range(10):
    print(i,end=" ")

In [ ]:
arr=[1,8,5,6,2,8,6]
for i in arr:
    print(i,end=" ")

In [ ]:
#LOOP CONTROL STATEMENTS
for i in range(10):
    print(i,end=" ")
    if i == 7:
        break

In [ ]:
# program to find first 5 multiples of 6

i = 1

while i <= 10:
    print('6 * ',(i), '=',6 * i)

    if i >= 5:
        break
    
    i = i + 1

In [ ]:
for i in range(5,20,4):
    print(i,end=" ")

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i,end=" ")

In [1]:
n=25
if(n%2==0):
    pass
print("welcome")

welcome